@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    /* Fonts */
    --nav-font: "Rubik", sans-serif;
    --heading-font: "Ubuntu", sans-serif;
    --default-font: "Poppins", sans-serif;
}

/* ------------ common style ------------ */
.common-padding {
  padding-left: 20px;
  padding-right: 20px;
}

/* --------------- navbar start -------------- */
/* .nav-item {
  position: relative;
  padding: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav-item:hover {
  color: #3c3eb5;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 3px;
  transform: translateX(-50%);
  width: 0;
  height: 1.5px;
  background-color: #3c3eb5;
  transition: all 0.3s ease-in-out;
}

.nav-item:hover::after {
  width: 65%;
}

.nav-item.product:hover::after {
  width: 70%;
} */
/* --------------- navbar end -------------- */

/* -------------- Tablet (min-width: 768px) -------------- */
@media (min-width: 768px) {
  .common-padding {
    padding-left: 60px;
    padding-right: 60px;
  }
}

/* -------------- Laptop (min-width: 1024px) -------------- */
@media (min-width: 1024px) {
  .common-padding {
    padding-left: 80px;
    padding-right: 80px;
  }
}

/* -------------- Desktop (min-width: 1280px) -------------- */
@media (min-width: 1280px) {
  .common-padding {
    padding-left: 110px;
    padding-right: 110px;
  }
}
